.error-msg{
   color: rgb(235, 16, 16);
   padding: 5px;
   font-weight: 500;
}
.app-container{
   max-width: 600px;
}
.app-container .app-heading{
   color: rgb(109, 109, 109);
}
.user-list-container{
   border: 1px solid rgb(205, 205, 205);
   border-radius: 0.3rem;
}

.user-list-container .user-box{
   display: flex;
   align-items: center;
   border-bottom: 1px solid rgb(205, 205, 205);
   padding: 0.8rem;
}
.user-list-container .user-box:last-child{
   border-bottom: none;
}
.user-box .user-box-info{
   flex-grow: 1;
}
.user-box .user-box-info p{
   font-size: 1rem;
   margin: 0;
   font-weight: 500;
}
.user-box .user-box-info p.user-box-info-email{
   color: rgb(106, 106, 106);
   font-weight: 400;
}

.user-box .user-box-btns button{
   margin: 0 0.5rem;
}

@media (max-width: 500px){
   .user-box .user-box-info p{
      font-size: 0.8rem;
   }
}